<footer th:fragment="footer" class="bg-dark text-light py-3 mt-5">
    <div class="container text-center">
        <p> 2024 Calis 100-Day Challenge. All rights reserved.</p>
    </div>
    <script th:src="@{/webjars/jquery/3.7.1/jquery.js}"></script>
    <script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.js}"></script>
    <script defer th:src="@{/webjars/alpinejs/3.13.10/dist/cdn.min.js}"></script>
    <script th:src="@{/webjars/htmx.org/1.9.12/dist/htmx.min.js}"></script>
</footer>