<!doctype html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Calis 100 Day Challenge</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/6.5.2/css/all.css}">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<main>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#" th:href="@{/home.html}">
                <img class="logo" src="/images/logo.png" alt="logo" width="40" height="40"> Home
            </a>
        </div>
    </nav>
    <div class="container">
        <div layout:fragment="content">

        </div>
    </div>
</main>

<script src="/webjars/jquery/3.7.1/jquery.js"></script>
<script src="/webjars/bootstrap/5.3.3/js/bootstrap.bundle.js"></script>
<script defer src="/webjars/alpinejs/3.13.10/dist/cdn.min.js"></script>
<script src="/webjars/htmx.org/1.9.12/dist/htmx.min.js"></script>
<div layout:fragment="pageScripts"></div>
</body>
</html>